<div id="container">
  <h1>User details</h1>
  <p>*Data changes automatically</p>
  <ul>
    <li ng-repeat="user in data">
      <p> User Name: <input ng-model="user.userName" ng-change="data.$save(user)" /> </p>
      <p> First Name: <input ng-model="user.firstName" ng-change="data.$save(user)" /> </p>
      <p> Last Name: <input ng-model="user.lastName" ng-change="data.$save(user)" /> </p>
      <p> Email: <input ng-model="user.email" ng-change="data.$save(user)" /> </p>
      <hr>
    </li>
  </ul>

</div>