<h1>Users</h1>
<!-- 
<ul>
  <li ng-repeat="user in users">
    <p>Name: <a href="#/users/{{user.name}}">{{user.name}}</a></p>
    <p>Id: {{user.id}}</p>
    <p>Age: {{user.age}}</p>
    <hr>
   </li>
</ul>
 -->
<!-- <ul>	
	<li ng-repeat="user in users">
		<p>{{user.firstName}}</p>
		<p>{{user.lastName}}</p>
	</li>
</ul> -->

<ul>
  <li ng-repeat="user in users">
  	<p>Name: 
      <a href="#/users/{{user.data.userName}}" >
        {{user.data.userName}}
      </a>
    </p>
  	<p>
      First Name: {{ user.data.firstName }} 
    </p>
    <p> 
      Last Name: {{ user.data.lastName }}
    </p>
    <p> id: {{user.$id}}</p>
  	<hr>
  </li>
</ul>




<div class="error" ng-bind="error"></div>